/* centerd client image */
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-carousel .caption {
    text-align: center;
}

.facebook-plugin {
    max-width: 1032px;
    margin: 0 auto;
}