{% extends 'base.html' %}
{%load static %}

{% block extrahead %}

<!-- genaral tag -->
<title>Blog | Audio Top | Karaoke, bar, tiệc cưới, phòng trà...</title>
<meta name="description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng. ">
<link rel="canonical" href="https://www.audiotop.vn/blog" />


<!-- Facebook tag -->
<meta property="og:locale" content="vi_VN" />
<meta property="fb:app_id" content="544193865986544" />
<meta id="fbType" property="og:type" content="article" />
<meta property="og:title" content="Blog | Audio Top | Karaoke, bar, tiệc cưới, phòng trà...">
<meta property="og:description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng.">
<meta property="og:url" content="https://www.audiotop.vn/blog">
<meta property="og:site_name" content="www.audiotop.vn" />


<link rel="stylesheet" href="{% static 'css/lighting_list.css' %}">
{% endblock extrahead %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'trang-chu' %}">Trang chủ</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="blog" class="blog">
        <div class="container">

            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <article class="entry">

                        <div class="entry-img">
                            <img src="{{ blog.thumb }}" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="{% url 'blog-detail' blog.slug %}">{{ blog.title }}</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                                        href="{% url 'blog-detail' blog.slug %}">Luân audio</a></li>
                                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                                        href="{% url 'blog-detail' blog.slug %}"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <div class="short-content">
                                {{ blog.content | safe | truncatechars:220 }}
                            </div>
                            <div class="read-more">
                                <a href="{% url 'blog-detail' blog.slug %}">Read More</a>
                            </div>
                        </div>

                    </article>
                </div>
                {% endfor %}
            </div>

            {% comment %} <div class="blog-pagination" data-aos="fade-up">
                <ul class="justify-content-center">
                    <li class="disabled"><i class="icofont-rounded-left"></i></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                </ul>
            </div> {% endcomment %}

        </div>
    </section><!-- End Blog Section -->
</main>
{% endblock content %}
