<section class="p-3">
    <div class="container">    
        <div class="row mb-3">
            <div class="col text-right">
                <div class="fb-like" data-href="{{ request.build_absolute_uri  }}" data-width=""
                    data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fb-comments" data-href="{{ request.build_absolute_uri  }}"
                    data-numposts="5" data-width="100%"></div>
            </div>
        </div>
    </div>
</section>

