{% extends 'base.html' %}
{%load static %}


{% block extrahead %}

<!-- genaral tag -->
<title>Audio Top | thiết kế hệ thống âm thanh - ánh sáng karaoke, bar, phòng trà...</title>
<meta name="description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng. ">
<link rel="canonical" href="https://www.audiotop.vn" />


<!-- Facebook tag -->
<meta property="og:locale" content="vi_VN" />
<meta property="fb:app_id" content="544193865986544" />
<meta id="fbType" property="og:type" content="article" />
<meta property="og:title" content="Audio Top | thiết kế hệ thống âm thanh - ánh sáng karaoke, bar, phòng trà...">
<meta property="og:description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng.">
<meta property="og:image" content="/browser/static/img/hero-bg.jpg">
<meta property="og:url" content="https://www.audiotop.vn/">
<meta property="og:site_name" content="www.audiotop.vn" />


<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extrahead %}


{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
        <h1>Chào mừng đến với Audio Top</h1>
        <h2>Chuyên thiết kế hệ thống âm thanh - ánh sáng karaoke, bar, phòng trà...</h2>
    </div>
</section>
<!-- End Hero -->


<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                    <div class="content">
                        <h3>Tại sao chọn Audio Top?</h3>
                        <p>
                            Hệ thống âm thanh hay sẽ đem về khách hàng cho bạn. Audio Top tạo ra những hệ thống âm thanh
                            chất lượng làm hài lòng mọi đối tượng khách hàng.
                            Vì mục tiêu phát triển bền vững của khách hàng mà quyết định hợp tác. Nói không với sản phẩm
                            kém chất lượng, cam kết bảo hành - hỗ trợ 24/7
                        </p>
                        <div class="text-center">
                            <a href="#about" class="more-btn scrollto">Xem thêm <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Giá thành</h4>
                                    <p>Cùng khách hàng để đưa ra hệ thống hiệu quả nhất với chi phí thấp nhất</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Chất lượng</h4>
                                    <p>Thiết bị âm thanh nhập khẩu chính hãng, căn chỉnh từng tần số để đem lại sự hoàn
                                        hảo</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Hiệu quả</h4>
                                    <p>Đồng hành cùng khách hàng, hướng tới sự thành công của khách hàng là ưu tiên số
                                        một.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
                    data-aos="fade-right">
                    <a href="https://www.youtube.com/watch?v=E_yvuGGY1Wo" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div
                    class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h4 data-aos="fade-up">Về chúng tôi</h4>
                    <h3 data-aos="fade-up">Công ty xuất nhập khẩu âm thanh ánh sáng Audio Top</h3>
                    <p data-aos="fade-up">Xây dựng nên công ty bắt đầu từ một đôi loa bose vài một chiếc âm ly. Bước vào
                        thị trường được khách hàng cả nước hài lòng, công nhập giá trị audiotop tạo ra. </p>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Người thật việc thật</a></h4>
                        <p class="description">Đảm bảo sản phẩm nguồn gốc rõ ràng, đạt chuẩn, chất lượng cao</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Hơn 5 năm kinh nghiệm</a></h4>
                        <p class="description">Đa qua đào tạo bài bản về âm thanh, hoàn thành nhiều công trình lớn nhỏ
                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Mạng lưới khách hàng từ bắc vào nam</a></h4>
                        <p class="description">Được sự tin tưởng, đánh giá tích cực từ khách hàng khắp cả nước </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">

            <div class="owl-carousel clients-carousel">
                <img src="{% static 'img/clients/client-1.png' %}" alt="">
                <img src="{% static 'img/clients/client-2.png' %}" alt="">
                <img src="{% static 'img/clients/client-3.png' %}" alt="">
                <img src="{% static 'img/clients/client-4.png' %}" alt="">
                <img src="{% static 'img/clients/client-5.png' %}" alt="">
                <img src="{% static 'img/clients/client-6.png' %}" alt="">
                <img src="{% static 'img/clients/client-7.png' %}" alt="">
                <img src="{% static 'img/clients/client-8.png' %}" alt="">
            </div>

        </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    {% comment %} <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram
                        malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                        culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                        quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section> {% endcomment %}
    <!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <a href="{% url 'project-list' %}">
                    <h2 data-aos="fade-up">Dự án nổi bật</h2>
                </a>
                <p data-aos="fade-up">Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm
                    thanh gia đình...
                    Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng,
                    đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng.
                </p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {% for project in projects %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{{ project.thumb }}" class="img-fluid w-100" alt="">
                    <a class="portfolio-info" href="{% url 'project-detail' project.slug %}">
                        <h4>{{ project.title }}</h4>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Đội ngũ kĩ thuật</h2>
                <p data-aos="fade-up">Với đội ngũ kĩ thuật nhiệt tình, giàu kinh nghiệm, trách nhiệm cao đối với công
                    việc, Audio Top tự tin phục vụ và làm hài lòng mọi đối tượng khách hàng, dù là những
                    người khó tính Nhất.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="/browser/static/img/team/team-1.JPG" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Luân Nguyễn</h4>
                            <span>Sound man</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="/browser/static/img/team/team-2.JPG" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Việt Nguyễn</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="/browser/static/img/team/team-3.JPG" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Đông Nguyễn</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Anh Nguyễn</h4>
                            <span>Sound man</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->

{% endblock content %}
