{% extends 'base.html' %}
{%load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock extrahead %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'trang-chu' %}">Trang chủ</a></li>
                <li>Dự án nổi bật</li>
            </ol>
            <h2>Dự án nổi bật</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    {% comment %} <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                {% for tag in tags %}
                <!-- <li data-filter="*" class="filter-active">{{ tag.title }}</li> -->
                <li data-filter="*" class="">{{ tag.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div> {% endcomment %}
    <section class="inner-page pt-3">
        <div class="container">
            <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                    {% for project in projects %}
                    <a href="{% url 'project-detail' project.slug %}" class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box mb-4">                        
                            <img src="{{ project.thumb }}" alt="">
                            <div class="p-3">
                                <h4>{{ project.title }}</h4>
                                {% comment %} {{ project }} {% endcomment %}
                                {% for tag in project.tags %}
                                <p>{{ tag.title }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}