{% extends 'base.html' %}
{%load static %}

{% block extrahead %}

<!-- genaral tag -->
<title>{{ project.title }} | Dự án nổi bật | Karaoke, bar, tiệc cưới, phòng trà...</title>
<meta name="description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng. ">
<link rel="canonical" href="https://www.audiotop.vn/du-an-noi-bat/{{ project.slug }}" />


<!-- Facebook tag -->
<meta property="og:locale" content="vi_VN" />
<meta property="fb:app_id" content="544193865986544" />
<meta id="fbType" property="og:type" content="article" />
<meta property="og:title" content="{{ project.title }} | Dự án nổi bật | Karaoke, bar, tiệc cưới, phòng trà...">
<meta property="og:description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng.">
<meta property="og:image" content="https://www.audiotop.vn/browser/{{ project.thumb }}">
<meta property="og:url" content="https://www.audiotop.vn/du-an-noi-bat/{{ project.slug }}">
<meta property="og:site_name" content="www.audiotop.vn" />


<link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
{% endblock extrahead %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'project-list' %}">Dự án nổi bật</a></li>
                <li>{{ project.title | truncatechars:20 }}</li>
            </ol>
            <h2>{{ project.title | truncatechars:50 }}</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
        <div class="container">

            <div class="portfolio-details-container">
                <div class="owl-carousel portfolio-details-carousel">
                    <img src="/media/{{ project.thumb }}" class="img-fluid" alt="">
                    {% for image in project.images.all %}
                    {% comment %} <img src="/media/{{ image.file }}" alt=""> {% endcomment %}
                    {% endfor %}
                </div>

                <div class="portfolio-info">
                    <h3>Thông tin dự án</h3>
                    <ul>
                        <li><strong>Category</strong>:
                            {% for tag in project.tags.all %}
                            {% if forloop.last %}
                            <span>{{ tag.name }}</span>
                            {% else %}
                            <span>{{ tag.name }}</span>,
                            {% endif %}
                            {% endfor %}
                        </li>
                        {% if project.client %}
                        <li><strong>Client</strong>: {{ project.client }}</li>
                        {% endif %}

                        {% comment %} <li><strong>Project date</strong>: {{ project.created_on }}</li> {% endcomment %}

                        {% if project.address %}
                        <li><strong>Address</strong>: {{ project.address }}</li>
                        {% endif %}

                    </ul>
                </div>

            </div>

            <div class="portfolio-description">
                <h2>{{ project.title }}</h2>
                <div class="project-content">
                    {{ project.content |safe}}
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->


    {% include "facebook_plug.html" %}

</main><!-- End #main -->
{% endblock content %}