{% extends 'base.html' %}
{%load static %}

{% block extrahead %}

<!-- genaral tag -->
<title>Thiết bị âm thanh | Karaoke, bar, tiệc cưới, phòng trà...</title>
<meta name="description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng. ">
<link rel="canonical" href="https://www.audiotop.vn/thiet-bi-am-thanh }}" />


<!-- Facebook tag -->
<meta property="og:locale" content="vi_VN" />
<meta property="fb:app_id" content="544193865986544" />
<meta id="fbType" property="og:type" content="article" />
<meta property="og:title" content="Thiết bị âm thanh | Karaoke, bar, tiệc cưới, phòng trà...">
<meta property="og:description"
    content="Audio Top thi công nhiều loại công trình: Karaoke, bar, tiệc cưới, phòng trà, âm thanh gia đình... Mỗi một công trình đều có điểm ưu việt riêng nên đều được Audio Top chuẩn bị kĩ càng, đầu tư nhiều tâm huyết để đưa ra kết quả tốt nhất cho khách hàng.">
<meta property="og:image" content="/browser/static/img/hero-bg.jpg>
<meta property="og:url" content="https://www.audiotop.vn/thiet-bi-am-thanh }}">
<meta property="og:site_name" content="www.audiotop.vn" />


<link rel="stylesheet" href="{% static 'css/speaker_list.css' %}">
{% endblock extrahead %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'trang-chu' %}">Trang chủ</a></li>
                <li>Thiết bị âm thanh</li>
            </ol>
            <h2>Thiết bị âm thanh</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page pt-3">
        <div class="container">
            <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row no-gutters">
                    {% for product in products %}
                    <a href="{% url 'speaker-detail' product.slug %}"
                        class="col-xl-3 col-md-4 col-sm-6 col-6 d-flex align-items-stretch" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="icon-box mb-4">
                            <img src="{{ product.thumb }}" alt="">
                            <div class="p-3">
                                <p class="text-center">{{ product.title }}</p>
                                {% comment %} {{ product }} {% endcomment %}
                                {% for tag in product.tags %}
                                <p>{{ tag.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}